@model eCommerce.Application.DTOs.InventoryDto

@{
    ViewData["Title"] = "Inventory Item Details";
    Layout = "_Layout";
}

<h1>Inventory Item Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Item ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>
        
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        
        <dt class="col-sm-3">Quantity</dt>
        <dd class="col-sm-9">@Model.Quantity</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div> 