<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Authentication</title>
    <link rel="stylesheet" href="~/css/site.css" />
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCommerce.Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/eCommerce.Api.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <h2>Welcome to eCommerce</h2>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2025 - eCommerce</p>
        </footer>
    </div>
</body>
</html>
